.classpath
.project
.settings/
*.xcuserstate
*xcuserdata
build/
*.pbxuser
!default.pbxuser
!default.perspectivev3
xcuserdata
*.xccheckout
DerivedData
*.hmap
*.ipa
*.xcuserstate
.DS_Store
.*.s[a-w][a-z]
*.orig
*.log
